<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @record.Customer %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @record.Phone %>
</p>

<p>
  <strong>Time:</strong>
  <%= @record.Time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @record.Description %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
